@use 'sass:color';
@use 'sass:math';
@use './variables.scss' as *;

.date-filter {
  display: flex;
  justify-content: center;
  margin-bottom: rem-calc(30);
  
  &__inputs {
    display: flex;
    gap: rem-calc(16);
    align-items: flex-end;
  }
  
  &__label {
    display: flex;
    flex-direction: column;
    font-size: rem-calc(15);
    color: $color-accent;
  }
  
  &__input {
    margin-top: rem-calc(3);
    padding: rem-calc(5) rem-calc(8);
    border: 1px solid $color-border;
    border-radius: rem-calc(4);
    font-size: rem-calc(14);
    
    &:focus {
      outline: none;
      border-color: $color-accent;
      box-shadow: 0 0 0 2px rgba($color-accent, 0.2);
    }
  }
} 