@use 'sass:color';
@use 'sass:math';
@use './variables.scss' as *;
@use './chart.scss' as *;
@use './search.scss' as *;
@use './table.scss' as *;
@use './nav.scss' as *;
@use './dashboard.scss' as *;
@use './details-popup.scss' as *;
@use './date-filter.scss' as *;

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}