@use 'sass:color';
@use 'sass:math';
@use './variables.scss' as *;

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 rem-calc(30) 0;
  padding: rem-calc(20) 0 rem-calc(10) 0;
  background: transparent;
  position: relative;
  z-index: 10;
  a {
    margin: 0 rem-calc(10);
    color: $color-accent;
    text-decoration: none;
    &.router-link-exact-active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
} 