@use 'sass:color';
@use 'sass:math';
@use './variables.scss' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: rem-calc(10);
  th, td {
    border: 1px solid $color-border;
    padding: rem-calc(4) rem-calc(8);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    background: $color-bg-header;
    color: $color-accent;
  }
  
  &__pagination {
    margin: rem-calc(10) 0;
    button {
      margin: 0 rem-calc(5);
      padding: rem-calc(2) rem-calc(8);
    }
    display: flex;
    justify-content: center;
    margin-bottom: rem-calc(10);
  }
  &__error {
    color: $color-error;
    margin-bottom: rem-calc(10);
  }
} 